.ButtonPanel {
	display: flex;
	margin: 10px;
	gap: 10px;
}

.Wide {
	width: 80%;
}

.NoHostLabel {
	color: #2196F3;
}

.Center {
	justify-content: center;
}

.ControlButton {
	width: 100%;
}

.CamPanel {
	width: 640px;
	height: 480px;
    justify-content: center;
	align-items: center;
	z-index: 100;
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
}

.CamCrosshair {
	object-fit: cover;
	max-height: 80%;
	z-index: 100;
	position: absolute;
	left: 116px;
	top: 48px;
	opacity: 0.5;
	pointer-events: none;
}

.SliderValue {
	width: 85px;
	text-align: right;
}

.CamFrame {
	z-index: 10;
	left: 80px;
	top: -80px;
	position: absolute;
}

.CamRight{
	transform: rotate(-90deg);
}
.CamLeft{
	transform: rotate(90deg);
}